.btn-primary {
    border: 1px solid #fff;
    background: #1A191E;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    text-transform: capitalize;
    margin-top: 20px;

    @media (max-width: 992px){
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    &:hover,
    &:focus,
    &:active{
        border: 1px solid #fff;
        background: #1A191E;
        outline: none;
    }
}

.show>.btn-primary.dropdown-toggle {
    border: 1px solid #fff;
    background: #1A191E;
    outline: none;
}

.btn__link{
    color: #fff;

    &:hover{
        color: #fff !important;
    }
}

.btn__primary{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.1em;
    background: #E4112F;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 0;

    @media (max-width: 1200px) {  
        font-size: 16px;
    }
    
    &:hover,
    &:focus,
    &:active{
        color: #fff;
        outline: none !important;
    }
}