.form-control{
    border-color: #333139;
    color: #7B7B7B;
    background-color: #1D1C21;
    height: 46px;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;

    &:active,
    &:focus,
    &:hover{
        border-color: #333139;
        color: #7B7B7B;
        background-color: #1D1C21;
        outline: none;
    }

}


  