*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //1rem = 10px;  10px/16px = 62.5%;
}

body {
    box-sizing: border-box;
    background: #1A191E;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #B0B0B0;

    @media (max-width: 1200px) {  
        font-size: 12px;
    }
}

ul{
    list-style: none;
}

ol {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #B0B0B0;
}

h1,h2,h3,h4,h5{
    font-weight: 500;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-style: normal;
}

h1{
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 0.08em;
}

h2{
    line-height: 48px;
    font-size: 33px;
    letter-spacing: 0.08em;
}

h3{
    font-size: 21px;
    line-height: 45px;
    letter-spacing: 0.08em;
    line-height: 30px;
}

h4{
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 0.08em;
}

h5{
    letter-spacing: 1px;
    font-size: 18px;
}

a{
    &:hover,
    &:focus,
    &:active{
        color: #fff;
        outline: none;
    }
}

input[type=text], select, textarea {
    font-family: 'Montserrat', sans-serif;
    background: #1D1C21;
    border: none;
    border-bottom:  1px solid #333139 !important;
    padding: 12px 12px 12px 0 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #737373;
    margin-bottom: 20px;
    display: block;
    width: 100%;

    &:active,
    &:hover,
    &:focus{
        background: #1D1C21;
        border: none;
        border-bottom:  1px solid #333139;
        outline: none;
    }                   
}

  
input[type="text"] {
    background: #1D1C21;
    border: 1px solid #333139;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}

input[type="form"] {
    background: #1D1C21;
    border-bottom: 1px solid #333139 !important;
    color: #FFF !important;
    padding: 12px 20px;
    cursor: pointer;
    display: block;
    width: 100%;
}

option [value="gmail"]{
    padding: 10px 5px;
}

textarea{
    background: #1D1C21;
    border: none;
    border-bottom: 1px solid #333139;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #eee;
}


.mt-100{
    margin-top: 100px;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.mt-50{
    margin-top: 50px;
}

.mt-80{
    margin-top: 69px;
}

.ml-100{
    margin-left: 100px;
}

.mr-30{
    margin-right: 30px;
}

.ml-30{
    margin-left: 30px;
}

.ml-20{
    margin-left: 20px;
}

.ml-40{
    margin-left: 40px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-100{
    margin-bottom: 100px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-100{
    padding-bottom: 100px !important;
}

.pt-10{
    padding-top: 10px;
}

.text-center{
    text-align: center !important;
}

.text-uppercase{
    text-transform: uppercase;
}

.bg-image{
    height: 550px;
}