.heading__primary{

    &--main{
        text-transform: capitalize;
        position: relative;
        margin-bottom: 15px;
        
        &:after {
            width: 140px;
            height: 2px;
            background: #E4112F;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
        
    }

    &-main{
        text-transform: capitalize;
        position: relative;
        margin-bottom: 20px;

        &:after {
            width: 200px;
            height: 2px;
            background: #E4112F;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;

            @media (max-width: 1200px) {                  
                width: 171px;
            }

            
            @media (max-width: 992px) {                  
                width: 151px;
            }
        }

    }

    &--sub{
        text-transform: capitalize;
        position: relative;
        margin-bottom: 20px;

        &:after {
            width: 197px;
            height: 2px;
            background: #E4112F;
            content: '';
            position: absolute;
            left: 21px;
            right: 0;
            bottom: 0;
            margin: -10px 0;

            @media (max-width: 1200px) {  
                margin: 0;
                width: 130px;
            }

            @media (max-width:992px){
                display: none;
            }
        }
    }
    
}

