@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important; 
    }
}

@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 920px;
    }
}
