@media (min-width: 1200px) { .container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1200px !important; } }
@media (min-width: 768px) { .container, .container-md, .container-sm { max-width: 920px; } }
*, *::after, *::before { margin: 0; padding: 0; box-sizing: border-box; }

html { font-size: 62.5%; }

body { box-sizing: border-box; background: #1A191E; color: #fff; font-family: 'Barlow Condensed', sans-serif; }

p { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 26px; color: #B0B0B0; }
@media (max-width: 1200px) { p { font-size: 12px; } }

ul { list-style: none; }

ol { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 26px; color: #B0B0B0; }

h1, h2, h3, h4, h5 { font-weight: 500; font-family: 'Barlow Condensed', sans-serif; color: #fff; font-style: normal; }

h1 { font-size: 45px; line-height: 60px; letter-spacing: 0.08em; }

h2 { line-height: 48px; font-size: 33px; letter-spacing: 0.08em; }

h3 { font-size: 21px; line-height: 45px; letter-spacing: 0.08em; line-height: 30px; }

h4 { font-size: 45px; line-height: 60px; letter-spacing: 0.08em; }

h5 { letter-spacing: 1px; font-size: 18px; }

a:hover, a:focus, a:active { color: #fff; outline: none; }

input[type=text], select, textarea { font-family: 'Montserrat', sans-serif; background: #1D1C21; border: none; border-bottom: 1px solid #333139 !important; padding: 12px 12px 12px 0 !important; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #737373; margin-bottom: 20px; display: block; width: 100%; }
input[type=text]:active, input[type=text]:hover, input[type=text]:focus, select:active, select:hover, select:focus, textarea:active, textarea:hover, textarea:focus { background: #1D1C21; border: none; border-bottom: 1px solid #333139; outline: none; }

input[type="text"] { background: #1D1C21; border: 1px solid #333139; color: white; padding: 12px 20px; cursor: pointer; }

input[type="form"] { background: #1D1C21; border-bottom: 1px solid #333139 !important; color: #FFF !important; padding: 12px 20px; cursor: pointer; display: block; width: 100%; }

option [value="gmail"] { padding: 10px 5px; }

textarea { background: #1D1C21; border: none; border-bottom: 1px solid #333139; outline: none; font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #eee; }

.mt-100 { margin-top: 100px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-50 { margin-top: 50px; }

.mt-80 { margin-top: 69px; }

.ml-100 { margin-left: 100px; }

.mr-30 { margin-right: 30px; }

.ml-30 { margin-left: 30px; }

.ml-20 { margin-left: 20px; }

.ml-40 { margin-left: 40px; }

.mb-40 { margin-bottom: 40px; }

.mb-100 { margin-bottom: 100px; }

.pb-50 { padding-bottom: 50px; }

.pb-100 { padding-bottom: 100px !important; }

.pt-10 { padding-top: 10px; }

.text-center { text-align: center !important; }

.text-uppercase { text-transform: uppercase; }

.bg-image { height: 550px; }

.heading__primary--main { text-transform: capitalize; position: relative; margin-bottom: 15px; }
.heading__primary--main:after { width: 140px; height: 2px; background: #E4112F; content: ''; position: absolute; left: 0; right: 0; bottom: 0; margin: 0 auto; }
.heading__primary-main { text-transform: capitalize; position: relative; margin-bottom: 20px; }
.heading__primary-main:after { width: 200px; height: 2px; background: #E4112F; content: ''; position: absolute; left: 0; right: 0; bottom: 0; margin: 0 auto; }
@media (max-width: 1200px) { .heading__primary-main:after { width: 171px; } }
@media (max-width: 992px) { .heading__primary-main:after { width: 151px; } }
.heading__primary--sub { text-transform: capitalize; position: relative; margin-bottom: 20px; }
.heading__primary--sub:after { width: 197px; height: 2px; background: #E4112F; content: ''; position: absolute; left: 21px; right: 0; bottom: 0; margin: -10px 0; }
@media (max-width: 1200px) { .heading__primary--sub:after { margin: 0; width: 130px; } }
@media (max-width: 992px) { .heading__primary--sub:after { display: none; } }

.btn-primary { border: 1px solid #fff; background: #1A191E; font-family: Roboto; font-style: normal; font-weight: 300; font-size: 15px; line-height: 16px; text-transform: capitalize; margin-top: 20px; }
@media (max-width: 992px) { .btn-primary { margin-top: 10px; margin-bottom: 20px; } }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { border: 1px solid #fff; background: #1A191E; outline: none; }

.show > .btn-primary.dropdown-toggle { border: 1px solid #fff; background: #1A191E; outline: none; }

.btn__link { color: #fff; }
.btn__link:hover { color: #fff !important; }

.btn__primary { font-weight: 500; font-size: 18px; line-height: 18px; letter-spacing: 0.1em; background: #E4112F; color: #fff; text-transform: capitalize; padding: 10px 15px; border-radius: 0; }
@media (max-width: 1200px) { .btn__primary { font-size: 16px; } }
.btn__primary:hover, .btn__primary:focus, .btn__primary:active { color: #fff; outline: none !important; }

.form-control { border-color: #333139; color: #7B7B7B; background-color: #1D1C21; height: 46px; font-family: Montserrat; font-size: 15px; line-height: 26px; margin-bottom: 20px; }
.form-control:active, .form-control:focus, .form-control:hover { border-color: #333139; color: #7B7B7B; background-color: #1D1C21; outline: none; }

.about { margin-left: 20px; }
.about-image { border-radius: 50%; width: 70%; position: relative; left: 15%; }
.about-info { background: #1D1C21; padding: 15px 20px 0 20px; margin: 50px 0; }
@media (max-width: 1200px) { .about-info { margin: 10px 0; } }
.about__text { display: flex; margin-top: 30px; margin-bottom: 20px; }
.about-text { margin-left: 30px; }

.contact { background: #1D1C21; padding: 70px 0px 0px 70px; margin-top: 30px; }
.contact input { font-family: 'Montserrat', sans-serif; background: #1D1C21; border: none; border-bottom: 1px solid #333139; padding: 12px 12px 12px 0 !important; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #737373; margin-bottom: 20px; }
.contact input:active, .contact input:hover, .contact input:focus { background: #1D1C21; border: none; border-bottom: 1px solid #333139; outline: none; }
.contact label { font-family: Montserrat; font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; letter-spacing: 0.08em; text-transform: capitalize; color: #F0F0F0; }
.contact_heading { font-weight: 500; font-size: 48px; line-height: 43px; letter-spacing: 0.12em; text-transform: capitalize; }
.contact_form:not(:last-child) { margin-right: 30px; }
.contact_form-input { margin-bottom: 20px; }
.contact_form--input { margin-bottom: 20px; margin-left: 20px; }
@media (max-width: 992px) { .contact_form--input { margin-left: 0px !important; } }
.contact__info { width: 90%; }

.footer-left { background: #1D1C21; padding: 60px; }
.footer li { margin-top: 20px; }
.footer__link { font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 14px; color: #7D7D7D; text-transform: capitalize; }

.card { background: #1A191E; border: none; }
.card-info { background: #1D1C21; padding: 27px; margin: 50px 0; }
.card-body { -ms-flex: 1 1 auto; flex: 1 1 auto; min-height: 1px; padding: 0; }
.card-title { font-size: 24px; line-height: 26px; letter-spacing: 0.08em; text-transform: capitalize; position: relative; }
.card-title:before { width: 10px; height: 10px; background: #E4112F; border-radius: 50%; margin-top: 10px; content: ''; position: absolute; left: -25px; }
.card-form a { border-right: 1px solid #333139; }
.card-form a:hover, .card-form a:focus, .card-form a:active { color: #fff; }
.card-form input { margin-top: 8px; font-size: 15px; background: #1D1C21; border: 1px solid #333139 !important; width: 400px !important; line-height: 26px; display: inline-block; padding: 10px !important; }
.card-form input:active, .card-form input:hover, .card-form input:focus { background: #1D1C21; border: 1px solid #333139 !important; outline: none; }
.card-form i { margin-left: -28px; font-size: 14px; color: #fff; }
.card-form i:before { border-left: 1px solid #333139; margin-right: 10px; }

.blog { margin-right: 20px; }
.blog-meta { display: flex; padding: 12px 0; }
.blog-meta i { color: #E4112F; margin-right: 10px; font-size: 15px; }
.blog-time { display: flex; margin-right: 16px; }
@media (max-width: 1200px) { .blog-time { margin-right: 8px; } }
.blog-folder { display: flex; }
.blog-folder:hover { outline: none; }
.blog-text { font-style: normal; font-weight: 500; font-size: 12px; line-height: 12px; color: #F0F0F0; text-transform: uppercase; }
@media (max-width: 1200px) { .blog-text { font-size: 11px; } }
.blog--text { text-transform: capitalize; font-style: normal; font-weight: 500; font-size: 11px; line-height: 12px; color: #F0F0F0; }
.blog-list { display: flex; position: relative; margin-top: -2px; }
.blog-list p { font-weight: 500; font-size: 14px; line-height: 14px; color: #F0F0F0; text-transform: capitalize; }

.folder-icon { color: #E4112F; margin-right: 10px; font-size: 15px; }
@media (max-width: 1200px) { .folder-icon { margin-right: 7px; } }

.social-icons li:not(:first-child) { padding: 0 0 12px 13px; }
.social-icons li a { color: #fff; font-size: 16px; }
.social-icons li a:hover, .social-icons li a:focus, .social-icons li a:active { outline: none; }

.section__two { width: 80%; float: right; }

.section__about { margin-left: -118px; }

.section_main { padding: 70px 0 0 0; }

@media (min-width: 1300px) { .header { position: fixed; } }
@media (max-width: 992px) { .header { position: relative; display: block; } }

.navigation { padding-top: 100px; }
.navigation__item { list-style: none; }
.navigation__list { padding: 10px 0; }
.navigation__link { position: relative; font-style: normal; font-weight: 500; font-size: 20px; line-height: 16px; letter-spacing: 0.08em; color: #FFFFFF !important; text-transform: capitalize; font-family: 'Barlow Condensed', sans-serif; }
.navigation__link:hover, .navigation__link:focus { color: #fff; outline: none; text-decoration: none; }
.navigation-bottom { margin-left: 8px; }

.social { display: flex; }
.social__icon { font-size: 16px; color: #fff; }
.social__icon:not(:first-child) { margin-left: 20px; }
.social__icon:active, .social__icon:hover { color: #fff; }

.dropdown { position: relative; display: inline-block; }

.dropdown-content { display: none; position: absolute; background-color: #1A191E; min-width: 110px; z-index: 1; left: 47px; top: 0; }

.dropdown-content a { color: #fff; padding: 3px 26px; text-decoration: none; display: block; font-size: 20px; transition: all .4s; }
.dropdown-content a:hover, .dropdown-content a:focus, .dropdown-content a:active { color: #fff; }

.dropdown-item { font-size: 16px; }

.dropdown-content a:hover { background-color: #1A191E; }

.dropdown:hover .dropdown-content { display: block; margin: 0 5px; }

.bg-light { background-color: #1A191E !important; }

@media (min-width: 1300px) { .navbar-expand-lg .navbar-nav { display: block !important; } }
@media (min-width: 992px) { .navbar-expand-lg .navbar-nav { flex: none; } }

@media (min-width: 992px) { .navbar-expand-lg { display: block !important; } }

.navbar-nav { display: block !important; }

.navbar-brand { margin-bottom: 60px !important; }
.navbar-brand img { height: 100px; width: 130px; }
@media (max-width: 992px) { .navbar-brand { margin-bottom: 10px !important; } }

@media (min-width: 992px) { .navbar-expand-lg .navbar-collapse { display: block !important; flex-direction: none !important; } }

.dropdown-toggle::after { display: none; }

.navbar-icon { color: #fff; font-size: 38px; }

@media (min-width: 768px) { .collapse:not(.show) { display: block !important; } }

@media (min-width: 768px) { .navbar-light .navbar-toggler { display: none !important; } }
