.about{

    margin-left: 20px;
    
    &-image{
        border-radius: 50%;
        width: 70%;
        position: relative;
        left: 15%;
    }


    &-info{
        background: #1D1C21;
        padding: 15px 20px 0 20px;
        margin: 50px 0;

        @media (max-width: 1200px) {  
            margin: 10px 0;
        }
    }
    

    &__text{
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &-text{
        margin-left: 30px;
    }
}



