.card{
    background: #1A191E;
    border: none;

    &-info{
        background: #1D1C21;
        padding: 27px;
        margin: 50px 0;
    }

    &-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0; 
    }

    &-title{
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.08em;
        text-transform: capitalize;
        position: relative;

        &:before{
            width: 10px;
            height: 10px;      
            background: #E4112F;
            border-radius: 50%; 
            margin-top: 10px; 
            content: '';
            position: absolute; 
            left: -25px;
        }
    }

    &-form{
        a{
            border-right: 1px solid #333139;

            &:hover,
            &:focus,
            &:active{
                color: #fff;
            }
        }

        input{
            margin-top: 8px;
            font-size: 15px;
            background: #1D1C21;
            border: 1px solid #333139 !important;
            width: 400px !important;
            line-height: 26px;
            display: inline-block;
            padding: 10px !important;
            
            &:active,
            &:hover,
            &:focus{
                background: #1D1C21;
                border: 1px solid #333139 !important;
                outline: none ;
            }
        }

        i{
            margin-left: -28px;
            font-size: 14px;
            color: #fff;
            &:before{
                border-left: 1px solid #333139;
                margin-right: 10px;
            }
            
        }
    }
}

.blog{
    margin-right: 20px;

    &-meta{
        display: flex;
        padding: 12px 0;

        i{
            color: #E4112F;
            margin-right: 10px;
            font-size: 15px;
        }
    }

    &-time{
        display: flex;
        margin-right: 16px;

        @media (max-width: 1200px) {                  
            margin-right: 8px;
        }
    }

    &-folder{
        display: flex;

        &:hover{
            outline: none;
        }
    }

    &-text{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #F0F0F0;
        text-transform: uppercase;

        @media (max-width: 1200px) {                  
            font-size: 11px;
        }
    }

    &--text{
        text-transform: capitalize;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        color: #F0F0F0;
    }

    &-list{
        display: flex;
        position: relative;
        margin-top: -2px;

        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #F0F0F0;
            text-transform: capitalize;
        }
    }
}

.folder-icon{
    color: #E4112F;
    margin-right: 10px;
    font-size: 15px;

    @media (max-width: 1200px) {                  
        margin-right: 7px;
    }
}

.social-icons {

    li{
        &:not(:first-child){
            padding: 0 0 12px 13px;
        }
    }

    li a{
        color: #fff;
        font-size: 16px;

        &:hover,
        &:focus,
        &:active{
            outline: none;
        }
    }
   
}

.section__two{
    width: 80%;
    float: right;
}

.section__about {
    margin-left: -118px;
}

.section_main{
    padding: 70px 0 0 0;
}

.header{

    @media (min-width:1300px) {
        position: fixed;
    }

    @media (max-width: 992px){
        position:relative;
        display: block;
    }

    
}
