.contact{
    background: #1D1C21;
    padding: 70px 0px 0px 70px;
    margin-top: 30px;

    input{
        font-family: 'Montserrat', sans-serif;
        background: #1D1C21;
        border: none;
        border-bottom:  1px solid #333139;
        padding: 12px 12px 12px 0 !important;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #737373;
        margin-bottom: 20px;

        &:active,
        &:hover,
        &:focus{
            background: #1D1C21;
            border: none;
            border-bottom:  1px solid #333139;
            outline: none;
        }
    }

    label{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.08em;
        text-transform: capitalize;
        color: #F0F0F0;
    }

    &_heading{
        font-weight: 500;
        font-size: 48px;
        line-height: 43px;
        letter-spacing: 0.12em;
        text-transform: capitalize;
    }

    &_form{

        
        
        &:not(:last-child){
            margin-right: 30px;
        }

        &-input{
            margin-bottom: 20px;
        }

        &--input{
            margin-bottom: 20px;
            margin-left: 20px;

            @media (max-width:992px){
                margin-left: 0px !important;
            }
            
        }
    }

    &__info{
        width: 90%;
    }
}