.footer{

    &-left{
        background: #1D1C21;
        padding: 60px;
    }
    
    li{
        margin-top: 20px;
    }

    &__link{
        font-family: 'Montserrat', sans-serif;
       font-size: 14px;
       line-height: 14px;
       color: #7D7D7D;
       text-transform: capitalize;
    }
}