.navigation{
    padding-top: 100px;

    &__item{
       list-style: none;
    }

    &__list{
       padding: 10px 0;
    }

    &__link{
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.08em;  
        color: #FFFFFF !important;
        text-transform: capitalize;
        font-family: 'Barlow Condensed', sans-serif;
        
        &:hover,
        &:focus{
            color: #fff;
            outline: none;
            text-decoration: none;
        }
    }

    &-bottom{
        margin-left: 8px;
    }
}

.social{
    display: flex;
    &__icon{
        font-size: 16px;
        color: #fff;

        &:not(:first-child){
            margin-left: 20px;
        }

        &:active,
        &:hover{
            color: #fff;
        }
    }

    
}

  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A191E;
    min-width: 110px;
    z-index: 1;
    left: 47px;
    top: 0;
}
  
.dropdown-content a {
    color: #fff;
    padding: 3px 26px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition: all .4s;

    &:hover,
    &:focus,
    &:active{
        color: #fff;
    }
}

.dropdown-item{
    font-size: 16px;
}
  
.dropdown-content a:hover {background-color: #1A191E;}
  
.dropdown:hover .dropdown-content {
    display: block;
    margin: 0 5px;
}

.bg-light {
    background-color: #1A191E !important;
}


.navbar-expand-lg .navbar-nav{
    @media (min-width: 1300px){
        display: block !important;
    }

    @media (min-width: 992px){
        flex: none;
    }
}

.navbar-expand-lg{
    @media (min-width: 992px){
        display: block !important;
    }
}

.navbar-nav{
    display: block !important;
}

.navbar-brand {
    margin-bottom: 60px !important;

    img{
       height: 100px;
       width: 130px;
    }

    @media (max-width: 992px){
        margin-bottom: 10px !important;
    }
    
}

.navbar-expand-lg .navbar-collapse {

    @media (min-width: 992px){
        display: block !important;
        flex-direction: none !important;
    }
}

.dropdown-toggle::after {
    display: none;
}

.navbar-icon{
    color: #fff;
    font-size: 38px;
}


.collapse:not(.show) {
    @media (min-width: 768px){
        display: block !important;
    }
}

.navbar-light .navbar-toggler {
    @media (min-width: 768px){
        display: none !important;
    }
}